@page
@model Los_Pollos_Hermanos_Web_App.Pages.Foods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Foods</h1>

<p>
    <a asp-page="Create">Create New Item</a>
</p>

<form class="example" action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Foods</th>
            <th>Menu Items</th>
            <th>Details</th>
            <th>Database</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>        
                @{
                    try
                    {
                        <td>
                            <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" />
                        </td>
                    }
                    catch
                    {
                        <td>
                            <img src="/img/Blank.png" alt="No Image provided" />
                        </td>
                    }
                }
                <td>
                    @Html.DisplayFor(modelItem => item.FoodName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageDescription)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
