@page
@model Los_Pollos_Hermanos_Web_App.Pages.Foods.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Food[0].FoodName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Food) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FoodID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FoodID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FoodID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
