@page
@model Los_Pollos_Hermanos_Web_App.Pages.Foods.IndexModel
@{
    ViewData["Title"] = "Menu";
}

<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="text-center">
    <h1 class="display-4">Here is our menu</h1>
    <p><a>Take a look at what we have to offer here at los pollos hermanos</a>.</p>
</div>
    <!--Creates a duplicate table to show data within the database-->
    <table class="table">
        <thead>
            <tr>
                <th>Foods</th>
                <th>Menu Items</th>
                <th>Details</th>
                <th>Purchess</th>
            </tr>
        </thead>       

        <!--Updates the database alongside with the Foods page so when an admin adds a food item the user can see it in the duplicate table-->
        @foreach (var item in Model.Food)
            {
                <tr>
                    @{
                        try
                        {
                            <td>
                                <img src="@string.Format("data:image/jpg;base64,{0}", Convert.ToBase64String(item.ImageData))" alt="@item.ImageDescription" />
                            </td>
                        }
                        catch
                        {
                        <!--if no images is provided a generic blank image is used instead-->
                        <td>
                                <img src="/img/Blank.png" alt="No Image provided" />
                            </td>
                        }
                    }
                <!--Updates the information for FoodName And ItemDescription with the duplicate table-->
                <td>
                        @Html.DisplayFor(modelItem => item.FoodName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImageDescription)
                    </td>
                <td>
                    <!--Instead of CRUD functionality users can click the buy button to purchess and item-->
                    <button type="submit" asp-page-handler="Buy"
                        asp-route-itemID="@item.ID">
                        Buy
                    </button>
                </td>

                </tr>
            }
        </table>
    </body>
</html>
