@page
@model Los_Pollos_Hermanos_Web_App.Pages.Menuitems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Menu Items</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].FoodID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].MenuItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].ItemDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MenuItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FoodID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ItemDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MenuItemID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MenuItemID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MenuItemID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
