@page
@model Los_Pollos_Hermanos_Web_App.Pages.Menuinformation.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1 class="display-4">Menu information</h1>

<!--Creates a prompt for users to click on to create new items in the database-->
<p>
    <a asp-page="Create">Create New</a>
</p>

<!--Creates a search bar at the top of the database-->
<form class="example" action="/action_page.php">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<!--Creates a table displaying all items in the database-->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuInfromation[0].MenuItemID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuInfromation[0].Startdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuInfromation[0].Enddate)
            </th>
            <th>
               Database
            </th>
        </tr>
    </thead>
    <tbody>
        <!--Allows users to add information to the database-->
@foreach (var item in Model.MenuInfromation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MenuItemID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Startdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enddate)
            </td>
                <!--Crud functionality-->
            <td>
                <a asp-page="./Edit" asp-route-id="@item.FoodID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.FoodID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.FoodID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
